doctype html
html
  head
    link(rel='shortcut icon', href='./images/favicon.ico')
    title Bug Squasher!
  body
    #container(style='width: 100%;')
      #header.header(style='background-color: #FFA500;')
        h1(style='margin-bottom: 0;') Error!
      #content(style='background-color: #EEEEEE; height: 100%; width: 100%; float: left;')
        Error ka?
      #footer(style='clear: both; text-align: center;')
        | Copyright © MJ
