#container {
	width:85%;
	height:650px;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	margin-bottom:0;	
	padding : 0;
}

#welcome_header {
	width:100%;
	height:43px;
	text-align:center;
	vertical-align:middle;
	padding:0;
	margin-top:0;
	margin-bottom:0;	
	background-color:#428bca;
	color:#ffffff;
	font-style: oblique;
	font-family:"Comic Sans MS", cursive, sans-serif;
}

#footer {
	text-align:center;
}

#div_welcome {
	width:100%;
	height:580px;
	margin-top:0;
	margin-bottom:0;	
} 

#div_game {
	width:100%;
	height:580px;
	display:none;
	margin-top:0;
	margin-bottom:0;	;
}

#div_instructions {
	width:40%;
	height:100%;
	display:inline-block;
	float:left;
	text-align:center;
	
}

#div_highScoreGrid {
	width:40%;
	height:100%;
	display:inline-block;
	float:right;
	text-align:center;
}

#div_begin {
	width:20%;
	height:100%;
	vertical-align:middle;
	float:left;
	text-align:center;
	margin-top:100px;
}

#div_scoreTime {
	width:60%;
	height:80px;
	margin-left:auto;
	margin-right:auto;
		
}
#div_score.well-sm {
	background-color: #428bca!important
}

#div_bugsKilled.well-sm {
	background-color: #f0ad4e!important

}

#div_time.well-sm {
	background-color: #d9534f!important
}

.badge {
	background-color: #ffffff!important
}

#div_score {
	width:33.33%;
	height:100%;
	float:left;
	text-align:center;
}

#div_bugsKilled {
	width:33.33%;
	height:100%;
	vertical-align:middle;
	float:left;
	text-align:center;
	margin-top:auto;
	margin-bottom:auto;
	background-color: @brand-warning;
}

#div_time {
	width:33.33%;
	height:100%;
	float:left;
	text-align:center;
	background-color: @brand-danger;
}

#content {
	background-image: url("../images/bamboo.jpg");
	cursor:url("../images/pinYellow.png") ,auto;
	padding: 0px;
	border: 0px;
        margin: 0px;
	height:520px;
	width:100%;
	overflow: hidden;
	margin-top:0;
	margin-bottom:0;
}

#div_getusername {
	padding: 0px;
	border: 0px;
        margin: 0px;
	height:0px;
	width:100%;
	display:none;
}


#bugSmall {
	display : block;
  	width:50px;
  	height:50px;
    }


#menu_lt {
	height:570px;
	width:20%;
	float:left;
    }

div.header {
	border-style: solid;
	border-width: 1px;
}

h1 {
	text-align: center;
}

ul {
	text-align:left;
	font-size:20px;
}

.table th
{
	text-align:center;
}
